.a img{

width: 100%;
height: 450px;
}
.b {
    width:20%;
    color:white;
    text-align:center;
     margin: 0 auto;
}

.d img {
width: 40%;
height: 300px;
}
.e img {
  height:500px;
  width:70%;
}

body {
text-align: center;
font-family: Arial;
color: rgb(40, 39, 39);
background-color : rgb(175, 44, 44);

}