.a img{

width: 100%;
height: 450px;
}
.b {
    width:20%;
    color:white;
    text-align:center;
    margin: 0 auto;
}

.d img {
width: 40%;
height: 300px;
}
.e img {
  height:500px;
  width:80%;
}
.g{
  background-color: rgba(144, 36, 36, 1);
}
.k fieldset{
  width:50%;
  height:300px;
}
body {
    text-align: center;
    font-family: Arial;
    color: rgb(40, 39, 39);
    background-color: rgb(175, 44, 44);
}
